@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* Blue	rgba(67, 163, 230)
  Dark Blue	rgba(25, 33, 41)
  Text	0, 0, 0 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed';
  font-size: 10px;
  line-height: 3.5em;
  weight: 300;
}

table,
th,
td {
  text-align: center;
}

h1 {
  transform: uppercase;
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

h3 {
  font-size: 4.2em;
  text-align: center;
  line height: 1em
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line height: 1em;
  margin-bottom: 15px;
}

h5 {
  font-size: 1.2em;
  line height: 1em
}

.header {
  background-image:
    url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  position: 0 0;
  repeat: no-repeat;
  font-size: cover;
  height: 650px;
  padding-top: 50px;
  position: relative;
}

.dark-background {
  background-color: rgba(25, 33, 41);
  color: white
}

.quote {
  font-size: .5em;
  position: absolute;
  left: 10%;
  bottom: 100px;
}

#general-information {
  display: flex;
  justify-content: space-evenly;
}

#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-box {
  font-size: 1.7em;
  text-align: center;
  border-width: 2px;
  border-color: #eee;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  /* Margin: top, 50px; right: 5%; bottom: 0; left: 5%. */
  padding: 20px;
  width: 40%;
}

.service-box img {
  width: 125px;
}

#team .section-text {
  font-size: 1.9em;
  text-align: center;
  /* padding: 75px 0;
  margin: 0 auto; */
}

#team p {
  width: 60%;
  margin: 10px auto;
}

#team hr {
  margin: 20px auto 30px auto;
  width: 40%;
}

#team .member-name {
  font-size: 1.5em;
  font-weight: 700;
}

#team img {
  width: 250px;
  height: 180px;
}

.dark-background {
  font-style: normal;
  font-size: 0.8;
}

.address {
  font-style: normal;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.footer {
  padding: 40px 100px 40px 100px;
  margin-bottom: 25px;
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
}

.footer a {
  color: rgba(67, 163, 230);
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding: 0px;
}

.footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar {
  background-color: rgba(25, 33, 41);
  padding: 14px;
}

.nav-bar li {
  width: 1200px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  list-style: none
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
  list-style: none
}

.link-btn {
  background-color: rgb(67, 163, 230);
  color: white;
  /* font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing: 0.5px;*/
  text-align: center;
  text-decoration: none;
  /* padding: 10px 30px; */
}

.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th, td {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  /* border-bottom-weight: 1px; WEIGTH ???? THIS WAS ON THE PAGE OF PRE-WORK*/
  padding: 5px 10px 5px 10px;
  text-align: center;
}
